table{
    border: 1px solid black;
    width: 500px;
    text-align: center;
    /* border-collapse: collapse; */
}
tr td {
    border: 1px solid black;
}
.a{
    background-color: aquamarine;
}
.b{
    background-color: gold;
}