table td {
    border: 3px solid black;
    width: 200px;
    height: 50px;
    text-align: center;
}
.a{
    border-collapse: collapse;
}
.b{
    background-color: paleturquoise;
}
tr:nth-child(even){
    background-color: lightgreen;
}